Para o Desafio da DIO baixei arquivo CSV no Site da ANEEL no Link: https://dadosabertos.aneel.gov.br/dataset/interrupcoes-de-energia-eletrica-nas-redes-de-distribuicao

Minha idéia era mostrar o número de interrupções de energia no ano de 2023 assunto que tomou conta do noticiário esta semana de 22/08/2023. O arquivo por ser bastante grande acabei editando para poder usá-lo do desafio.

In [1]:
import pandas as pd

In [2]:
#Lendo csv
df = pd.read_csv('resumo-interrupcoes-energia-eletrica-2023.csv', encoding='latin-1')
print(df)

        DatGeracaoConjuntoDados DscConjuntoUnidadeConsumidora  \
0                    10/08/2023             Franca 3-Diamante
1                    10/08/2023                Porto Nacional
2                    10/08/2023          ARAGUAINA NAO URBANO
3                    10/08/2023               UHE ISAMU IKEDA
4                    10/08/2023                  Sao Manoel 1
...                         ...                           ...
1048552              10/08/2023                 ITABUNA II 13
1048553              10/08/2023                 ITABUNA II 13
1048554              10/08/2023        FEIRA DE SANTANA II 13
1048555              10/08/2023                 ITABUNA II 13
1048556              10/08/2023                  EUNAPOLIS 13

        DatInicioInterrupcao DatFimInterrupcao  NumAno  \
0           01/01/2023 00:00  01/01/2023 10:11    2023
1           01/01/2023 00:01  02/01/2023 12:19    2023
2           01/01/2023 00:01  31/01/2023 23:59    2023
3           01/01/2023 00:01  20/01/2023 09:12    2023
4           01/01/2023 00:03  01/01/2023 01:36    2023
...                      ...               ...     ...
1048552     30/06/2023 12:43  30/06/2023 23:45    2023
1048553     30/06/2023 15:02  30/06/2023 21:08    2023
1048554     30/06/2023 17:31  30/06/2023 19:11    2023
1048555     30/06/2023 17:56  01/07/2023 12:25    2023
1048556     30/06/2023 18:10  30/06/2023 19:24    2023

                                         NomAgenteRegulado  \
0                        COMPANHIA PAULISTA DE FORÇA E LUZ
1         ENERGISA TOCANTINS DISTRIBUIDORA DE ENERGIA S.A.
2         ENERGISA TOCANTINS DISTRIBUIDORA DE ENERGIA S.A.
3         ENERGISA TOCANTINS DISTRIBUIDORA DE ENERGIA S.A.
4                        COMPANHIA PAULISTA DE FORÇA E LUZ
...                                                    ...
1048552  COMPANHIA DE ELETRICIDADE DO ESTADO DA BAHIA C...
1048553  COMPANHIA DE ELETRICIDADE DO ESTADO DA BAHIA C...
1048554  COMPANHIA DE ELETRICIDADE DO ESTADO DA BAHIA C...
1048555  COMPANHIA DE ELETRICIDADE DO ESTADO DA BAHIA C...
1048556  COMPANHIA DE ELETRICIDADE DO ESTADO DA BAHIA C...

                    SigAgente
0        CPFL-PAULISTA
1        ETO
2        ETO
3        ETO
4        CPFL-PAULISTA
...                       ...
1048552  COELBA
1048553  COELBA
1048554  COELBA
1048555  COELBA
1048556  COELBA

[1048557 rows x 7 columns]

In [3]:
#Vendo o cabeçalho
df.head()

,DatGeracaoConjuntoDados,DscConjuntoUnidadeConsumidora,DatInicioInterrupcao,DatFimInterrupcao,NumAno,NomAgenteRegulado,SigAgente
0,10/08/2023,Franca 3-Diamante,01/01/2023 00:00,01/01/2023 10:11,2023,COMPANHIA PAULISTA DE FORÇA E LUZ,CPFL-PAULISTA
1,10/08/2023,Porto Nacional,01/01/2023 00:01,02/01/2023 12:19,2023,ENERGISA TOCANTINS DISTRIBUIDORA DE ENERGIA S.A.,ETO
2,10/08/2023,ARAGUAINA NAO URBANO,01/01/2023 00:01,31/01/2023 23:59,2023,ENERGISA TOCANTINS DISTRIBUIDORA DE ENERGIA S.A.,ETO
3,10/08/2023,UHE ISAMU IKEDA,01/01/2023 00:01,20/01/2023 09:12,2023,ENERGISA TOCANTINS DISTRIBUIDORA DE ENERGIA S.A.,ETO
4,10/08/2023,Sao Manoel 1,01/01/2023 00:03,01/01/2023 01:36,2023,COMPANHIA PAULISTA DE FORÇA E LUZ,CPFL-PAULISTA

In [4]:
#Número das interrupções de energia por mês
df['DatGeracaoConjuntoDados'].count

<bound method Series.count of 0          10/08/2023
1          10/08/2023
2          10/08/2023
3          10/08/2023
4          10/08/2023
              ...
1048552    10/08/2023
1048553    10/08/2023
1048554    10/08/2023
1048555    10/08/2023
1048556    10/08/2023
Name: DatGeracaoConjuntoDados, Length: 1048557, dtype: object>

In [5]:
# Vendo tipo de dados das colunas
df.dtypes

DatGeracaoConjuntoDados          object
DscConjuntoUnidadeConsumidora    object
DatInicioInterrupcao             object
DatFimInterrupcao                object
NumAno                            int64
NomAgenteRegulado                object
SigAgente                        object
dtype: object

In [6]:
# Mudando tipo de dados das colunas de tempo e data
df["DatFimInterrupcao"] = pd.to_datetime(df["DatFimInterrupcao"])
df["DatInicioInterrupcao"] = pd.to_datetime(df["DatInicioInterrupcao"])

In [33]:
# Calculando o tempo de InterrupçãoTempoInterrupcao
df['TempoInterrupcao'] = df['DatFimInterrupcao'].sub(df['DatInicioInterrupcao'])

In [32]:
#Agrupando por mês
agrupado = df.groupby(df['DatInicioInterrupcao'].dt.month)['TempoInterrupcao'].sum()
agrupado

DatInicioInterrupcao
1    -96821 days +19:03:52.580896768
2      19105 days 21:39:26.290448384
3      43390 days 01:57:26.290448384
4    -44714 days +21:50:26.290448384
5    -53518 days +18:04:26.290448384
6    -52920 days +14:36:26.290448384
7      64708 days 06:15:26.290448384
8      63345 days 12:57:26.290448384
9      53931 days 11:01:26.290448384
10     34852 days 22:16:26.290448384
11               52968 days 11:26:00
12     51029 days 16:19:03.385964544
Name: TempoInterrupcao, dtype: timedelta64[ns]